<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>ポケモン図鑑</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- CSS -->
	<link type="text/css" rel="stylesheet" th:href="@{/css/pokedexList.css}">
	<!-- Javascript -->
	<script type="text/javascript" th:src="@{/js/pokedexList.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #003ffc;">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Pokedex Search</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">ポケモン図鑑</a></li>
					<li><a href="#">ポケモン交換</a></li>
					<li><a href="#">ポケモン生息地検索</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="bodymain">
		<div class="searchConditions">
			<h1>ポケモン情報検索</h1>
			<form name="pokedexSearchForm" class="form-horizontal" method="post" th:action="@{/pokedexlist/search}"
				th:object="${pokedexSearchRequest}">
				<div class="form-group">
				
					<div class="form-group form-inline input-group-sm">
						<label for="pokemonId_from" class="col-md-2 control-label">ポケモンID</label>
						<input type="number" class="form-control col-md-2" id="pokemonId_from" name="pokemonId_from"
							th:value="${pokemonId_from}">
						<label class="col-md-1 control-label">～</label>
						<input type="number" class="form-control col-md-2" id="pokemonId_to" name="pokemonId_to"
							 th:value="${pokemonId_to}">
					</div>
					<div class="form-group form-inline input-group-sm">
						<label for="pokemonJpName" class="col-md-2 control-label">ポケモン日本語名</label>
						<input type="text" class="form-control col-md-4" name="pokemonJpName" id="pokemonJpName"
							th:value="${pokemonJpName}">
						<label for="pokemonEnName" class="col-md-2 control-label">ポケモン英語名</label>
						<input type="text" class="form-control col-md-4" name="pokemonEnName" id="pokemonEnName"
							th:value="${pokemonEnName}">
					</div>
					<div class="form-group form-inline input-group-sm">
						<label for="typeId" class="col-md-2 control-label">タイプ</label>
<!--						<input type="text" class="form-control col-md-4" name="typeId" id="typeId" th:value="${typeId}">-->
					<select class="form-control">
						<option value="0"></option>
						<option th:each="type : ${typeList}" th:value="${type.typeId}" th:text="${type.typeName}"></option>
					</select>
					</div>
					<div class="form-group form-inline input-group-sm">
						<label for="height" class="col-md-2 control-label">高さ</label>
						<input type="number" class="form-control col-md-4" name="height" id="height" th:value="${height}">
						<label for="weight" class="col-md-2 control-label">重さ</label>
						<input type="number" class="form-control col-md-4" name="weight" id="weight" th:value="${weight}">
					</div>
					<div class="col-md-6"></div>
					<div class="col-md-4" align="right">
						<button type="button" class="btn btn-primary" onclick="buttonClick('/pokedexlist/search')">
							検索
						</button>
					</div>
				</div>
			</form>
		</div>

		<table class="table table-striped table-hover table-bordered" id="pokedexListTable" cellpadding="5">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ポケモンID</th>
					<th scope="col">ポケモン日本語名</th>
					<th scope="col">ポケモン英語名</th>
					<th scope="col">タイプID</th>
					<th scope="col">タイプ</th>
					<th scope="col">高さ</th>
					<th scope="col">重さ</th>
					<!--
					<th scope="col">登録日</th>
					<th scope="col">登録者</th>
					<th scope="col">登録プログラム</th>
					<th scope="col">更新日</th>
					<th scope="col">更新者</th>
					<th scope="col">更新プログラム</th>
					<th scope="col">削除フラグ</th>
					-->
				</tr>
			</thead>
			<tbody>
				<tr th:each="pokemonData : ${pokemonDataList}">
					<td scope="row" th:text="${pokemonData.pokemonId}"></td>
					<td th:text="${pokemonData.pokemonJpName}"></td>
					<td th:text="${pokemonData.pokemonEnName}"></td>
					<td th:text="${pokemonData.typeId}"></td>
					<td th:text="${pokemonData.typeName}"></td>
					<td th:text="${pokemonData.height}"></td>
					<td th:text="${pokemonData.weight}"></td>
					<!--
					<td th:text="${pokemonData.createDate}"></td>
					<td th:text="${pokemonData.creater}"></td>
					<td th:text="${pokemonData.createProgram}"></td>
					<td th:text="${pokemonData.updateDate}"></td>
					<td th:text="${pokemonData.updater}"></td>
					<td th:text="${pokemonData.updateProgram}"></td>
					<td th:text="${pokemonData.deleteFlag}"></td>
					-->
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>