<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>hello</title>
  </head>
  <body>
    <p th:text="${moji}"></p>
    <table border="1" cellpadding="5">
		<thead>
    	    <tr>
            	<th>ID</th>
            	<th>日本語名</th>
            	<th>英語名</th>
            	<th>タイプ</th>
            	<th>高さ</th>
            	<th>重さ</th>
			</tr>
        </thead>
        <tbody>
        	<tr th:each="Pk_pokedex_mst : ${pokemonDataList}">
            	<td th:text="${Pk_pokedex_mst.pokemonId}"></td>
            	<td th:text="${Pk_pokedex_mst.pokemonJpName}"></td>
            	<td th:text="${Pk_pokedex_mst.pokemonEnName}"></td>
            	<td th:text="${Pk_pokedex_mst.typeId}"></td>
            	<td th:text="${Pk_pokedex_mst.height}"></td>
            	<td th:text="${Pk_pokedex_mst.weight}"></td>
            </tr>
        </tbody>
    </table>
  </body>
</html>